# .env (valores padrão)
APP_ENV=development

# Server
SERVER_ADDRESS=:3000
SERVER_READ_TIMEOUT=10s
SERVER_WRITE_TIMEOUT=10s
SERVER_IDLE_TIMEOUT=60s

# WebSocket
WEBSOCKET_ADDRESS=:8080
WEBSOCKET_MAX_CONNECTIONS=1000
WEBSOCKET_MAX_MESSAGE_SIZE=512

# Redis
REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=password
REDIS_DB=0


# Auth
AUTH_SECRET=
AUTH_EXPIRATION=24h

# Clients Secrets
WEVERTON_LOGIN_SECRET=
ISAQUE_LOGIN_SECRET=

# Bling
BLING_CLIENT_ID=
BLING_CLIENT_SECRET=

# Webhook Headers
SHEETS_CLIENT_SECRET=